headers {
  padding: 1em;
}

main {
  margin-top:40px;
}

body {
  background-color: lightgoldenrodyellow;
  color: #283026;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

header > nav > ul > li {
  border: 1px outset #eeeeee;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: 1000;
  list-style-type: none;
  padding: 0.5em 1em;
  margin-right: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

header > nav > ul > li:hover {
  background: #283026;
  color: #eeeeee;
}

table {
  margin: auto;
  width: 75%;
  border: 1px solid #283026;
}

th {
  font-weight: bold;
  padding: .4em;
}

td {
  text-align: right;
  padding: .25em;
  border: 1px solid #283026;
}

tr td:first-child {
  background: #283026;
  color: whitesmoke
}

tr {
  border: 1px solid #eeeeee;
}

thead {
  background: #283026;
  color: whitesmoke;
}

tfoot {
  background: #283026;
  opacity: .75;
  color: whitesmoke;
}